@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;


@tailwind components;


@tailwind utilities;


.hide-scrollbar {
    overflow-x: auto;
    scrollbar-width: none; 
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; 
}

body {
   
    background-color: #F9F9F9;
}

/* Asegúrate de tener algo como esto en tu CSS */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


