@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;


@tailwind components;


@tailwind utilities;


.hide-scrollbar {
    overflow-x: auto;
    scrollbar-width: none; 
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; 
}

body {
   
    background-color: #F9F9F9;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.rounded-full {
    border-radius: 9999px;
}

.w-6 {
    width: 1.1rem;
}

.h-6 {
    height: 1.1rem;
}

.text-xs {
    font-size: 0.75rem;
}

.text-white {
    color: #fff;
}

@layer utilities {
    .clip-corner {
      clip-path: polygon(0 0, 100% 0, 0 100%);
    }
  }
